model_name: huggingface 토크나이저 이름(str)
checkpoint_dir: 모델 checkpoint, pt 경로(str)

valid_dir: 평가할 csv 경로(.csv)
result_dir: 결과 csv 저장할 경로(.csv)

batch_size: int
dataset: ["APEACH", "BEEP!", "Unsmile", "k-mhas", "KOLD", "KOLD_SPAN"]
model: ["CNN", "VerifiableCNN", "Transformer", "SpanTransformer"]
get_bert_embedding: False # 고정값.